body {
    background-image: url("../image_0_1588600365735.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: scroll;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

:root {
    --my-color: #e0e0e0;
    --my-color2: rgb(42, 152, 42);
    --my-padding: 10%;
}

.logo1 {
    display: flex;
    height: 10vh;
    width: 10%;
}

.logo1 img {
    border-radius: 47%;
}

.logo {
    display: flex;
    height: 10vh;
    width: 10%;
    opacity: 0;
}
.pop {
    height: 25vh; /* Valde 'vh' för att få lite mer utrymme mellan min flexbox och griden.*/
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}

nav ul li a {
    color: var(--my-color);
    text-decoration: none;
    font-weight: bold;
    transition: 1.5s;
}

nav ul li a:hover {
    color: var(--my-color2);
    transition: 0.4s;
}

.pop nav ul li:hover {
    transform: scale(1.3);
}

.grid {
    display: grid;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(50, 44, 44, 0.7);
    margin: auto;
    width: 70%;
    height: 110%;
    color: var(--my-color);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.grid p,
h1 {
    padding: var(--my-padding);
    text-align: center;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: var(--my-padding);
}

table {
    color: var(--my-color);
    padding: calc(
        var(--my-padding) * 1
    ); /* Du kan gånga för att förstora padding, t.ex. *2.(notering till mig själv)*/
    padding-top: 0;
}

.centrera {
    text-align: center;
    font-weight: bold;
    padding: var(--my-padding);
}

.footer {
    margin-top: 8rem;
    width: 100%;
    padding: 100px 15%;
    background-color: #333;
    color: var(--my-color);
    display: flex;
    justify-content: space-around;
}

.footer div {
    color: var(--my-color);
    text-align: center;
    font-weight: bold;
}

.col2 p a {
    color: var(--my-color);
    text-decoration: none;
    font-weight: bold;
}

.col2 p a:hover {
    color: var(--my-color2);
    transition: 0.3s;
}

.media {
    display: block;
    color: var(--my-color);
    margin-left: 0.2rem;
}

.media:hover {
    color: var(--my-color2);
    transition: 0.3s;
}

.burgare img {
    width: 20%;
    height: 60%;
    border-radius: 30%;
}

.label {
    padding-top: 10%;
    margin-bottom: 20%;
}

input,
textarea {
    width: 40%;
    padding: 1%;
    outline: 0;
    border: 1px solid #fff;
    color: var(--my-color);
    background: rgba(50, 44, 44, 0.8);
}

#fname {
    margin-left: 5rem;
}

#lname {
    margin-left: 4.5rem;
}

#email {
    margin-left: 6.5rem;
}

#phone {
    margin-left: 2.5rem;
}

#start {
    margin-left: 6rem;
}

#appt {
    margin-left: 6rem;
}

#message {
    margin-left: 4rem;
}
/* Inne i button lärde jag mig att man
 kunde ändra texten till
stora bokstäver, vilket jag tyckte
var lite roligt.
Jag lärde mig även att man kunde 
använda lite letter-spacing, det gilla jag också
att använda till just knappen.*/
button {
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
    padding: 10px 15px;
    background-color: #3b3b3b;
    border-radius: 6px;
    color: var(--my-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

button:hover {
    background-color: rgb(42, 152, 42);
    color: var(--my-color);
    transition: 0.3s;
    box-shadow: 0 0 100px rgb(252, 252, 252);
}

/* Använder mig av Samsung s20 ultra som riktlinje.
Jag tyckte det var snyggt när navbaren tvingade
 texten att lägga sig ovanpå vadandra.
 Det blev en bra förändring 
 från dator till telefon tyckte jag.*/

@media screen and (max-width: 412px) {
    ul li a {
        padding: 7px 7px;
    }

    h1 {
        font-size: 1.8rem;
        width: 100%;
        text-align: center;
    }

    .grid {
        width: 80%;
        text-align: center;
    }

    video {
        width: 90%;
    }

    .footer div {
        margin: -3%;
    }

    .pop nav ul li:hover {
        transform: none;
    }
}
